body {
    color: white;
    background-color: #121212;
}

.header,
.recipe-list,
.center {
    text-align: center;
    list-style-position: inside;
}

.small-img {
    width: 350px;
    height: auto;
}

.margin {
    margin: 12px;
}

.no-dots {
    list-style-type: none;
}